{% extends "base.html" %}
{% block title %}Error - {{ code }}{% endblock %}

{% block content %}
<div class="row justify-content-center pt-5">
  <div class="col-md-6 text-center">
    <div class="card border-danger shadow-sm">
      <div class="card-header bg-danger text-white">
        Error {{ code }}
      </div>
      <div class="card-body">
        <h5 class="card-title">Oops! Something went wrong</h5>
        <p class="card-text">{{ message }}</p>
        <a href="{{ url_for('index') }}" class="btn btn-primary mt-3">Back to Home</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
